:root {
  --brand-color: #2196f3;
  --additional-color: #ffffff;
  --description-color: #757575;
  --minor-color: #2f303a;
  --logo-font-size: 26px;
  --important-font-size: 16px;
  --extra-font-size: 14px;
  --transition-time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

.list {
  list-style: none;
  padding-left: 0;
}

.link {
  font-weight: 500;
  font-size: var(--extra-font-size);
  letter-spacing: 0.02em;
  line-height: 1.14;
  text-decoration: none;
  color: inherit;
  transition: var(--transition-time);
}
.link:hover, .link:focus {
  color: var(--brand-color);
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: inherit;
}

.modal {
  display: flex;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  top: 50%;
  left: 50%;
  width: 528px;
  height: auto;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  flex-direction: column;
}

.modal__close-btn {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 8px;
  top: 8px;
  background-color: var(--additional-color);
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal__close-icon {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 18px;
  height: 18px;
  background-color: var(--additional-color);
}

.modal__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-top: 40px;
  margin-inline: 40px;
  margin-bottom: 12px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 40px;
}

.modal__label:hover,
.modal__label:focus-within svg {
  fill: var(--brand-color);
}

.modal__input-title {
  display: flex;
  font-family: inherit;
  margin-bottom: 4px;
  margin-top: 10px;
  letter-spacing: 0.01em;
  line-height: 1.16;
  font-size: 12px;
  color: var(--description-color);
}

.modal__input-icon {
  margin: 12px;
  position: absolute;
  width: 18px;
  height: 18px;
  transition: var(--transition-time);
}

.modal__input {
  box-sizing: border-box;
  width: 448px;
  height: 40px;
  left: 576px;
  top: 382px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  transition: var(--transition-time);
}
.modal__input:hover, .modal__input:focus {
  border: 1px solid var(--brand-color);
}

.modal_textarea {
  width: 448px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-left: 16px;
  outline: none;
  transition: var(--transition-time);
}
.modal_textarea:hover, .modal_textarea:focus {
  border: 1px solid var(--brand-color);
}
.modal_textarea::-moz-placeholder {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal_textarea:-ms-input-placeholder {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal_textarea::placeholder {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__check {
  display: flex;
  align-items: center;
  gap: 8px;
  outline: none;
  padding-top: 20px;
}

.modal__basic-check {
  cursor: pointer;
  position: absolute;
  visibility: hidden;
}

.modal__checkbox-position {
  position: relative;
  cursor: pointer;
}

.modal__check-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 16px;
  height: 15px;
  fill: var(--additional-color);
  transition: var(--transition-time);
  border: 1px solid #212121;
  border-radius: 2px;
  transition: var(--transition-time);
}
.modal__check-icon:checked + span svg {
  position: relative;
  display: flex;
  align-items: center;
  fill: var(--brand-color);
  width: 16px;
  height: 15px;
  border-color: var(--brand-color);
}

.modal__terms-title {
  font-family: inherit;
  font-size: var(--extra-font-size);
  letter-spacing: 0.03em;
  line-height: 1.71;
  color: var(--description-color);
}

.modal__link {
  color: var(--brand-color);
}

.modal__btn {
  cursor: pointer;
  border: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: var(--important-font-size);
  letter-spacing: 0.06em;
  line-height: 1.87;
  text-align: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
  background-color: var(--brand-color);
  color: var(--additional-color);
  width: 200px;
  padding: 10px 76px;
  margin: 30px;
  margin-inline: 164px;
  margin-bottom: 40px;
  border-radius: 4px;
}

.backdrop--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: var(--logo-font-size);
  letter-spacing: 0.03em;
  line-height: 1.19;
  align-items: center;
  text-align: center;
  color: var(--brand-color);
}

.headline {
  background-color: var(--additional-color);
  border-bottom: 1px solid #ececec;
}
@media screen and (max-width: 767px) {
  .headline {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.headline__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .headline__section {
    max-width: 767px;
  }
}

.headline__navigation {
  display: flex;
  align-items: center;
}

.headline__logo {
  padding-right: 93px;
}

.headline__logo--black {
  color: #000000;
}

.headline__list {
  display: flex;
  margin-block: 0;
  gap: 46px;
}
@media screen and (max-width: 767px) {
  .headline__list {
    display: none;
  }
}

.headline__list-item:not(:last-child) {
  margin-right: 50px;
}

.headline__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}
.headline__link:hover::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;
  background-color: var(--brand-color);
}

.headline__link--current {
  color: var(--brand-color);
}
.headline__link--current::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;
  background-color: var(--brand-color);
}

.headline-contact {
  padding-right: 27px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: auto;
  margin-block: 0;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .headline-contact {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .headline-contact {
    flex-direction: column;
    align-content: center;
  }
}

.header-contact__list-item + .header-contact__list-item {
  margin-left: 50px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contact__list-item + .header-contact__list-item {
    margin-left: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contact__list-item {
    margin-left: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contact__list-item:not(:last-child) {
    margin-bottom: 10px;
  }
}
.headline-contact__link {
  display: inline-flex;
  padding-block: 32px;
  align-items: center;
  color: var(--description-color);
  transition: var(--transition-time);
}
.headline-contact__link:hover, .headline-contact__link:focus {
  color: var(--brand-color);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .headline-contact__link {
    padding: 0;
  }
}

.headline-contact__icon {
  margin-right: 10px;
  fill: currentColor;
}
.headline-contact__icon:hover {
  fill: var(--brand-color);
}

.prime {
  background-color: var(--minor-color);
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(255, 255, 255, 0)), url("../images/main-background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .prime {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-background2x.jpg);
  }
}

.prime__title {
  max-width: 250px;
  font-family: inherit;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 0.06em;
  line-height: 1.62;
  text-transform: uppercase;
  color: var(--additional-color);
  padding-bottom: 30px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .prime__title {
    font-size: 26px;
    max-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .prime__title {
    font-size: 44px;
    max-width: 360px;
    line-height: 1.36;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
  }
}

.prime__btn {
  cursor: pointer;
  border: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.06em;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
  background-color: var(--brand-color);
  color: var(--additional-color);
  display: inline-block;
  min-width: 140px;
  margin: 0 auto;
  padding: 7px;
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .prime__btn {
    padding: 10px 32px;
    font-size: 16px;
    min-width: 200px;
  }
}

.atributes {
  padding-bottom: 0;
}

.atributes__list {
  display: flex;
}

.atributes__list-item {
  margin-right: 30px;
  max-width: 270px;
}

.atributes__icon-box {
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.atributes__title {
  margin-bottom: 10px;
  margin-top: 30px;
  font-family: inherit;
  font-weight: 700;
  font-size: var(--extra-font-size);
  letter-spacing: 0.03em;
  line-height: 1.14;
  text-transform: uppercase;
  color: inherit;
}

.atributes__text {
  width: 270px;
  font-family: inherit;
  font-size: var(--extra-font-size);
  letter-spacing: 0.03em;
  line-height: 1.71;
  color: var(--description-color);
}

.work {
  text-align: center;
}

.work__title {
  padding-bottom: 50px;
}

.work__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.work__list-item {
  width: 370px;
  position: relative;
  margin: 0;
}

.work__overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 24%;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
}

.work__text {
  font-family: inherit;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--additional-color);
}

.team {
  background-color: #f5f4fa;
}

.team__title {
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.team__list-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--additional-color);
}
@media screen and (max-width: 479px) {
  .team__list-item {
    width: 270px;
  }
}
@media screen and (min-width: 480px) {
  .team__list-item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team__list-item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list-item {
    width: 270px;
  }
}

.team__name {
  font-family: inherit;
  font-weight: 500;
  font-size: var(--important-font-size);
  letter-spacing: 0.03em;
  line-height: 1.18;
  color: inherit;
  margin-top: 30px;
}

.team__profession {
  font-family: inherit;
  font-size: var(--important-font-size);
  letter-spacing: 0.03em;
  line-height: 1.18;
  color: var(--description-color);
}

.team__social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.team__social-item {
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
}

.team__social-link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  background-color: #ffffff;
  transition: var(--transition-time);
}
.team__social-link:hover, .team__social-link:focus {
  color: var(--additional-color);
  background-color: var(--brand-color);
}

.team__social-icon {
  margin: 12px 12px;
  fill: currentColor;
}

.client {
  text-align: center;
}

.client__title {
  margin-bottom: 50px;
}

.client__list {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding-top: 50px;
  gap: 30px;
}

.client__icon {
  width: 170px;
  height: 92px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: var(--transition-time);
}
.client__icon:hover, .client__icon:focus {
  cursor: pointer;
  fill: var(--brand-color);
  border: 1px solid var(--brand-color);
}

.footnote {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--minor-color);
}

.footnote__flex {
  display: flex;
  align-items: baseline;
}

.footnote__logo--white {
  color: var(--additional-color);
}

.footnote-contact {
  font-family: inherit;
  font-size: var(--extra-font-size);
  letter-spacing: 0.03em;
  line-height: 1.71;
  font-style: normal;
  color: var(--additional-color);
}

.footnote-contact__adress {
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 9px;
}

.footnote-contact__list-item {
  margin-top: 9px;
}

.footnote-contact__link {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  transition: var(--transition-time);
}
.footnote-contact__link:hover, .footnote-contact__link:focus {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.6);
}

.footnote-social {
  margin-left: 70px;
  width: 206px;
}

.footnote-social__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-transform: uppercase;
  color: var(--additional-color);
}

.footnote-social__list {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.footnote-social__list--item {
  width: 44px;
  height: 44px;
  gap: 10px;
}

.footnote-social__link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--additional-color);
  background-color: rgba(255, 255, 255, 0.062745098);
  transition: var(--transition-time);
}
.footnote-social__link:hover, .footnote-social__link:focus {
  fill: var(--additional-color);
  background-color: var(--brand-color);
}

.footnote-social__icon {
  fill: var(--additional-color);
  margin: 12px 0px 0px 12px;
}
.footnote-social__icon:hover, .footnote-social__icon:focus {
  background: var(--brand-color);
}

.newsletter-title {
  font-family: inherit;
  font-size: var(--extra-font-size);
  letter-spacing: 0.03em;
  line-height: 1.14;
  font-weight: 700;
  color: var(--additional-color);
}

.footnote-newsletter {
  margin-left: 72px;
}

.footnote-newsletter__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-transform: uppercase;
  color: var(--additional-color);
}

.footnote-newsletter__form {
  display: flex;
  align-items: baseline;
  gap: 12px;
}

.footnote-newsletter__input {
  margin-top: 20px;
  width: 358px;
  height: 50px;
  background-color: var(--minor-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}
.footnote-newsletter__input::-moz-placeholder {
  font-family: inherit;
  letter-spacing: 0.03em;
  line-height: 1.25;
  font-size: var(--important-font-size);
  color: rgba(255, 255, 255, 0.6);
}
.footnote-newsletter__input:-ms-input-placeholder {
  font-family: inherit;
  letter-spacing: 0.03em;
  line-height: 1.25;
  font-size: var(--important-font-size);
  color: rgba(255, 255, 255, 0.6);
}
.footnote-newsletter__input::placeholder {
  font-family: inherit;
  letter-spacing: 0.03em;
  line-height: 1.25;
  font-size: var(--important-font-size);
  color: rgba(255, 255, 255, 0.6);
}

.footnote-newsletter__btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 42px;
  border: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: var(--important-font-size);
  letter-spacing: 0.06em;
  line-height: 1.87;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
  background-color: var(--brand-color);
  color: var(--additional-color);
  width: 200px;
  height: 50px;
  margin: 0 auto;
  padding-block: 10px;
  border-radius: 4px;
}

.footnote-newsletter__icon {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 24px;
}

.portfolio__buttons {
  padding-bottom: 0;
}

.portfolio__btn-list {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.portfolio__btn {
  cursor: pointer;
  border: 0;
  font-family: inherit;
  font-weight: 500;
  font-size: var(--important-font-size);
  letter-spacing: 0.03em;
  line-height: 1.62;
  text-align: center;
  color: inherit;
  background-color: #f5f4fa;
  padding: 6px 22px;
  border-radius: 4px;
  transition: var(--transition-time);
}
.portfolio__btn:hover, .portfolio__btn:focus {
  color: var(--additional-color);
  background-color: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery {
  padding-top: 50px;
}

.gallery-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  flex-basis: calc -177px;
}

.gallery-list__item {
  width: 370px;
}
.gallery-list__item:hover, .gallery-list__item:focus {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery-list__item:hover .project__overlay {
  transform: translatey(0);
}

.project__name {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
  line-height: 2;
  color: inherit;
  padding-left: 24px;
  padding-bottom: 4px;
}

.project__type {
  font-family: inherit;
  font-size: var(--important-font-size);
  line-height: 1.87;
  color: var(--description-color);
  padding-left: 24px;
}

.project {
  position: relative;
  overflow: hidden;
}

.project__overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.8980392157);
  transform: translatey(100%);
  transition: transform var(--transition-time);
}

.procjet__description {
  font-family: inherit;
  font-size: 18px;
  line-height: 1, 44;
  letter-spacing: 0.03em;
  padding: 49px 45px 49px 24px;
  color: var(--additional-color);
}

.project__photo {
  display: block;
}

.project__border {
  border: 1px solid #eeeeee;
}/*# sourceMappingURL=main.css.map */