.logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: var(--logo-font-size);
    letter-spacing: 0.03em;
    line-height: 1.19;
    align-items: center;
    text-align: center;
    color: var(--brand-color);
}
